\documentclass[11pt]{article}
\usepackage[a4paper,margin=2.5cm]{geometry}
\usepackage{longtable}
\usepackage{booktabs}
\usepackage{array}
\usepackage{graphicx}
\usepackage{grffile}
\usepackage{pdfpages}
\usepackage{fancyhdr}
\usepackage{lastpage}
\usepackage[hidelinks,colorlinks=true,urlcolor=blue,linkcolor=blue]{hyperref}

\setlength{\parindent}{0pt}

\pagestyle{fancy}
\fancyhf{}
\lhead{Expense Summary}
\rhead{Created on (( generated_date )) -- Page \thepage\ of \pageref{LastPage}}
\renewcommand{\headrulewidth}{0.4pt}

((* macro expense_table(expense_list, totals_list, total_label, currencies, item_label="Expense", paid_label="Paid") *))
\begin{longtable}{@{}p{4cm}r((* for c in currencies *))r((* endfor *))p{4cm}@{}}
\toprule
\textbf{(( item_label ))} & \textbf{(( paid_label ))}((* for c in currencies *)) & \textbf{(( c ))}((* endfor *)) & \textbf{Notes} \\
\midrule
\endhead
((* for e in expense_list *))
(( e.name | latex ))
    & (( "%.2f"|format(e.cost) )) (( e.currency ))
    ((* for amt in e.amounts *))& (( "%.2f"|format(amt) ))
    ((* endfor *))& (( e.note | latex )) \\
((* endfor *))
\midrule
\textbf{(( total_label ))} &((* for t in totals_list *)) & \textbf{(( "%.2f"|format(t) ))}((* endfor *)) & \\
\bottomrule
\end{longtable}
((* endmacro *))

\begin{document}

    {\LARGE \textbf{Conference Expense Report}}\\[0.6em]
    ((* if conference_link *))
    {\large \href{(( conference_link ))}{(( conference_name | latex ))}}
    ((* else *))
    {\large (( conference_name | latex ))}
    ((* endif *))

\vspace{1em}

\begin{tabular}{@{}p{4cm}p{11cm}@{}}
\textbf{Submitted by:} & (( person | latex )) \\
((* if research_group *))
\textbf{Research Group:} & (( research_group | latex )) \\
((* endif *))
\textbf{Conference dates:} & (( start_date_display )) -- (( end_date_display )) \\
((* if conference_link *))
\textbf{Conference Agenda:} & \url{(( conference_link ))} \\
((* endif *))
\textbf{Session:} &
    ((* if session_link *))\href{(( session_link ))}{(( session | latex ))}((* else *))(( session | latex ))((* endif *)) \\
\textbf{Grant funding acknowledged:} & ((* if grant_acknowledged *))Yes((* else *))No((* endif *)) \\
((* if grant_reference *))
\textbf{Grant reference:} & (( grant_reference | latex )) \\
((* endif *))
((* if notes *))
\textbf{Notes:} & (( notes | latex )) \\
((* endif *))
\end{tabular}

\vspace{1.5em}

\textbf{Expense Summary}\\[0.5em]

(( expense_table(expenses, totals, "Total", report_currencies) ))

\vspace{0.5em}
\footnotesize Amounts converted using European Central Bank reference rates via the \href{https://frankfurter.dev/}{Frankfurter API}, using the exchange rate for each expense's purchase date.
\normalsize

((* if prepaid_expenses *))
\vspace{1.5em}
\textbf{Prepaid Expenses (No Reimbursement Needed)}\\[0.3em]
\footnotesize These were paid directly (e.g. from a team/department account) and are listed here for the record only -- they are excluded from the total above.
\normalsize\\[0.5em]

(( expense_table(prepaid_expenses, prepaid_totals, "Subtotal", report_currencies) ))
((* endif *))

((* if travel_awards *))
\vspace{1.5em}
\textbf{Travel Awards / Grants Received}\\[0.3em]
\footnotesize Amounts received to offset travel costs; the net amount owed to the traveler is shown below.
\normalsize\\[0.5em]

(( expense_table(travel_awards, award_totals, "Subtotal", report_currencies, "Award", "Received") ))

\vspace{1em}
\noindent\textbf{Net Reimbursement Due:} ((* for c in report_currencies *))(( "%.2f"|format(net_totals[loop.index0]) )) (( c ))((* if not loop.last *)) / ((* endif *))((* endfor *))\par
((* endif *))

((* if extra_notes *))
\vspace{1em}
\textbf{Additional notes:} (( extra_notes | latex ))
((* endif *))

\vfill
((* if include_signature *))
\noindent
\begin{tabular}{@{}p{7cm}p{5cm}@{}}
\rule{6cm}{0.4pt} & \rule{4cm}{0.4pt} \\
Signature & Date \\
\end{tabular}
\vspace{1.5em}

((* endif *))
\begin{center}
\footnotesize Report generated with \href{https://github.com/rhysics/conferenceExpenseReports}{https://github.com/rhysics/conferenceExpenseReports}
\end{center}

((* for e in invoice_items *))
((* if e.invoice_path *))
\clearpage
\fancyhead[L]{Invoice: (( e.name | latex ))}
((* if e.invoice_is_pdf *))
\includepdf[pages=-,pagecommand={\thispagestyle{fancy}}]{(( e.invoice_path ))}
((* else *))
\thispagestyle{fancy}
\vspace*{\fill}
\begin{center}
\includegraphics[width=\linewidth,height=0.85\textheight,keepaspectratio]{(( e.invoice_path ))}
\end{center}
\vspace*{\fill}
((* endif *))
((* endif *))
((* endfor *))

((* for doc in additional_documents *))
\clearpage
\fancyhead[L]{Attachment: (( doc.label | latex ))}
((* if doc.is_pdf *))
\includepdf[pages=-,pagecommand={\thispagestyle{fancy}}]{(( doc.path ))}
((* else *))
\thispagestyle{fancy}
\vspace*{\fill}
\begin{center}
\includegraphics[width=\linewidth,height=0.85\textheight,keepaspectratio]{(( doc.path ))}
\end{center}
\vspace*{\fill}
((* endif *))
((* endfor *))

\end{document}
